{% extends 'plantilla.html' %}
{% block content %}
<h3>Listado Productos</h3>
<ol>
{% for prod in listado %}
    <li>{{ prod }} </li>
    {% endfor %}
</ol>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Jacob</td>
      </tr>
    </tbody>
  </table>
{% endblock content %}